

div {
    margin-left: 25px;
    text-align: center;
}

h1{
    font-size: 75px;
    background-color: grey;
    margin: 25px;
    padding:25px;
    font-style: italic;
}



#sidenav ul {
    list-style-type: none;
    margin:0;
    padding:0;
    height: 50%;
    width: 200px;
    position: fixed;
    top: 200px;
    z-index: 1;
    overflow-x: hidden;
  }

 li a {
    padding: 3px;
    text-decoration: none;
    font-size: 25px;
    color:black;
    display: block;
  }
  
