/* Reset default Styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

head,body{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        width: 100%;
}

a,a:hover{
    color: inherit;
    text-decoration: none;
}
h3{
    margin-bottom: 30px;
}
p{
    text-align: justify;
}
ul{
    list-style: none;
}

/*  set the styles */


header {
    width:1280px;
    margin: 20px auto;
}
header img{
    width: 80px; height:80px;
}

nav {
        background-color: lawngreen;
        width: 100%;
}

nav ul{
    width:1280px;
    margin: 20px auto;
}

nav ul li{
    display: inline-block
}

nav a{
padding: 10px 20px;
display: block;
color: white;
}

nav a:hover{
    background-color:olivedrab;
    color:#fff ;
}

/* //main section */

main{
    width: 1280px;
    margin: 0 auto;
}

main::after,main::before{
    content: '';
    display: table;
}

main::after{
   clear:both
}

/* main inside tags */

section {
    height:400px;
}
   
article {
    width: 900px;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    float:left;
    
}
article img{
    
    width: 100px;height: 100px;
    border: 2px solid goldenrod;
    padding: 5px;
    margin:10px;
    float: left;
}

aside{
        border: 1px solid #ddd;
        padding:5px;
        width:20%;
        position: relative;
        bottom: 200px;
        float: right;
}
aside ul{
    padding: 10px;
}
aside a{
    padding:10px;
    margin-bottom: 3px;
    color: #333;
    background-color: gray;
    display: block;
}

aside a:hover{
        background-color:greenyellow;
}

footer{
    width: 1280px;
    margin: 20px auto;
    background-color: #f3f3f3;
    padding:20px;
    position: relative;
    bottom: 50px;
}

@media screen and (max-width:768px){
    header img{
       margin-right: auto;
       margin-left: auto;
       display: block;

    }
    aside{
        float: none;
        width: 100%;
        position: relative;
        top: 400px;
        padding:0px
       
    }
    nav ul{
        display: block;
        width: 100%;
    }
} 